
body { background: #353433; font: 15px Verdana; color: #e9e8e7; }
h1 { font: bold 40px Helvetica; color: #8b8685; }
.up, .down { position: absolute; border: 4px solid #454443; background: #090807; }
.down { background: #8b8685; border-color: #bef; }
.sc { background: #252423; position: absolute; }
.sc8 { background: #452423; }
.sc9 { background: #252443; }
#status { position: absolute; }

